<script>

    const URL_FOR_PRS = "https://api.github.com/repos/MLH-Fellowship/prep-portfolio-22.AUG.PREP.1/pulls?state=";
    let myData = [];
    {% for item in site.data.leaderboard %}
      myData.push({
        github_username: "{{item.github-username}}",
        fellow: "{{item.fellow}}",
        prs: 0,
        open: 0
      })
    {% endfor %}
      

  const getNumberPrsForEachFellow = (value1, value2) => {
    for(let i=0; i<myData.length; i++){
      const item = myData[i];
      const PRsbyFellow = value1.filter((pr) => pr.user.login==item.github_username);
      const PRsbyFellowOpened = value2.filter((pr) => pr.user.login==item.github_username);

      item.prs = PRsbyFellow.length;
      item.open = PRsbyFellowOpened.length;
    }

    myData = myData.sort((a,b) => (a.prs == b.prs) ? ((a.open == b.open)? (((a.fellow > b.fellow) ? 1 : ((b.fellow > a.fellow) ? -1 : 0))) : ((a.open < b.open) ? 1 : ((b.open < a.open) ? -1 : 0))) : ((a.prs < b.prs) ? 1 : ((b.prs < a.prs) ? -1 : 0)));

    let innerDATA=``;
    for(let i=0; i< myData.length; i++)
    {
      innerDATA+=`<tr>
        <th scope="row" class="pl-4">${i+1}</th>
          <td class="leaderboardName">
            <a  href="https://github.com/MLH-Fellowship/prep-portfolio-22.AUG.PREP.1/pulls/${myData[i].github_username}">
              ${myData[i].fellow}
              </a>
          </td>
          <td>${myData[i].prs}</td>
          <td class="open">${myData[i].open}</td>
      </tr>`;
    }

    document.getElementById("tabledata").innerHTML= innerDATA;

  }
  const fetchingDATA = async (url1, url2) => {
    const response1 = await fetch(url1);
    const response2 = await fetch(url2);
    let data1 = await response1.json();
    let data2 = await response2.json();
    getNumberPrsForEachFellow(data1, data2);
  }

  fetchingDATA(`${URL_FOR_PRS}closed`, `${URL_FOR_PRS}open`);
</script>

<div class="leaderboard">
  <br>
  <br>
  <h2 class="pb-md-4 pb-2">Leaderboard</h2>
  <table class="table">
    <thead class="head-blue">
      <tr>
        <th scope="col" class="pl-4">S.No.</th>
        <th scope="col">Fellow</th>
        <th scope="col"><span class="open">Merged</span> PRs</th>
        <th scope="col" class="open">Opened PRs</th>
      </tr>
    </thead>
    <tbody id="tabledata"></tbody>
  </table>
</div>